.top-nav {
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: center;
}

.right-menu {
    display: flex;
    /*  background-color: blueviolet; */
}

.right-menu>div {
    margin: 0px 15px;
}

.logo {
    margin-left: 20px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: var(--grey-text);
}

.icon-menu {
    display: flex;
    /*  background-color: blue; */
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 5px;
    background-color: var(--grey);
    border: 1px solid rgb(206, 206, 206);
    padding: 2px;
    border-radius: 4px;
}

.person-name {
    color: var(--blue);
}